<tr>
  <td>
    <p><%= image_tag product.image.tiny.url %></p>
  </td>
  <td>
    <p><%= product.name %></p>
  </td>
  <td>
    <p><%= product.description %></p>
  </td>
  <td>
    <%= humanized_money_with_symbol product.price %>
  </td>
  <td>
    <%= quantity %>
  </td>
  <td>
    <%= humanized_money_with_symbol product.price * quantity %>
  </td>
</tr>